@model EF.Web.Models.ModalFooter

<div class="modal-footer">
    <button data-dismiss="modal" id="@Model.CancelButtonId" class="btn btn-default" type="button">
        @Model.CancelButtonText
    </button>
    <button class="btn btn-success" id="@Model.SubmitButtonId" type="submit">
        @Model.SubmitButtonText
    </button>
</div>

