@model EF.Web.Models.Modal
<div aria-hidden="true" aria-labelledby="@Model.AreaLabelId" role="dialog" tabindex="-1" id="@Model.Id" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        </div>
    </div>
</div>

